<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @advert.company %>
</p>

<p>
  <b>Counter:</b>
  <%= @advert.counter %>
</p>



<%= link_to 'Edit', edit_advert_path(@advert) %> |
<%= link_to 'Back', adverts_path %>
