<!DOCTYPE html>
<html>
<head>
  <title>Audarme.kz - переводи вместе с нами!</title>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap-responsive", :media => "all" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44083828-1', 'audarme.kz');
    ga('send', 'pageview');

  </script>

</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="../">Audarme <span id="logo" href="../"></span></a>
        <ul class="nav">
          <li><a href="http://audarme.kz">Главная</a></li>
          <li><a href="http://audarme.kz/api">API</a></li>
          <li><a href="http://audarme.kz/about_us">О нас</a></li>
        </ul>
      </div>
    </div>
  </div>

  <% if @show %>
    <% if @adverts[1]%>
    <div class="adv-container" style="display:hide;">
      <a href="http://audarme.kz/adverts/hit/<%= @adverts[1].id %>"><%= show_image(@adverts[1].addsloader.url) %></a>
    </div>
    <% end%>
  <% end %>

  <div class="container application">
    
    <%= yield %>

  </div>

  <footer>
  <div class="row">
    <% if @show %>
      <% if @adverts[3]%>
      <div class="footer-adv">
        <img src=<%=show_image(@adverts[3].addsloader.url)%> >
      </div>
      <% end%>
    <% end %>
  </div>
  <div class="footer-menu">
    <ul>
      <li><a href="http://audarme.kz">Главная</a></li>
      <li><a href="http://audarme.kz/about_us">О нашем сервисе</a></li>
      <li><a href="http://audarme.kz/api">API</a></li>
      <li><a href="http://audarme.kz/examples">Примеры</a></li>
      <li><a href="http://audarme.kz/contact_us">Связаться с нами</a></li>
    </ul>
    <div class="copy">
      &copy; Audarme.kz 2013
    </div>
  </div>
</footer>
</body>
</html>
